* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(163, 209, 169);
  color: black;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%2392aca0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  margin: auto;
}
/*Navigation*/
.nav-main {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}
.nav-brand {
  width: 60px;
  height: 60px;
  padding-top: 5px;
  border-radius: 50%;
}
/*Navegación izquierda*/
.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 6px;
}

.nav-main ul li a:hover {
border-bottom: 2px solid rgb(47, 190, 136);
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
position: absolute;
cursor: pointer;
top: 15px;
right: 30px;
display: none;
z-index: 14;
/*font-size: 1.5rem; esto lo hago desde fab awesome, en el link del HTML
<i class="fas fa-bars fa-2x"></i>*/
}

hr /*{
  width: 100%;
height: 30px;
background: url(guarda.jpg);
}*/

{
  margin: 10px 0px;
}

/*Showcase*/

.showcase {
  width: 100%;
  height: 550px;
  /*background:rgb(181, 192, 240);*/
  background: url(Fierro.png) no-repeat center center/cover; 
  /*padding-bottom: 50px;*/
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
}
.btn {
  cursor: pointer;
  display:inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: aliceblue;
  font-size: 15px;
  border: 1px solid gray;
  margin: 10px 0px;
}
.btn:hover {
  opacity: .9;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}
/*News cards*/
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 10px 0px;
}
.news-cards img {
width: 100%;
height: 180px;
}
.news-cards h3 {
  font-size: 20px;
  margin: 10px 0px;
}
.news-cards a {
  padding: 10px 0px;
  color: #aa3e3e;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

.news-cards a:hover {
  text-decoration: underline;
}
/*Cards banner one*/
.cards-banner-one {
  width: 100%;
  height: 600px;
  background: url(trabajos.png) no-repeat center center/cover;
  margin-bottom: 40px;
}
.cards-banner-one .content {
  width: 40%;
  padding: 40px 0px 0px 30px;
}
.cards-banner-one p,
.cards-banner-one h2 {
margin: 10px 0px 20px 0px;
}

/*Un nuevo banner o título*/
.cards-banner-two {
  width: 100%;
  height: 350px;
  background: url(palenque.png) no-repeat center center/cover;
}
.cards-banner-two .content {
  width: 40%;
  padding: 40px 0px 0px 30px;
}
/*Social*/
.social {
  margin: 50px;
}
.social p {
text-align: center;
font-size: 30px;
margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  margin: 0px 30px;
}
.links a i {
  font-size: 3rem;
}

/*Título biliografía del footer*/
.footer-links {
  background: #eedddd;
  color: #262626;
  font-size: 12px;
  padding: 35px 0px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items:flex-start;
  justify-content: center;
} 

.footer-container ul {
  margin: 0 auto;
}
.footer-container ul li {
  line-height: 1.8;
}
.footer {
  background: #1ec6ff;
  color: #096686;
  font-size: 14px;
  padding: 20px 0px;
  text-align: center;
  padding-bottom: 20px;
}

/*Formulario*/

.contact {
  background-color: rgb(187, 223, 238);
  color: rgb(19, 18, 18);
  font-size: 18px;
  border-radius: 2px;
  padding: 25px;
  display: grid;
  gap: 20px;
}
.contact p,
.contact h2,
.contact ul {
  margin: 0px;
  padding: 0px;
}

.contact-title {
  font-size: 30;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.contac-details,
.contact-form {
  display: grid;
  gap: 20px;
}

.contac-details-group,
.contac-form-group {
  display: grid;
  gap: 3px;
}

.contac-label {
  text-transform: uppercase;
  font-weight: 500px;
}

.contact-form imput,
.contact-form textarea {
border-radius: 2px;
border: none;
height: 30px;
padding: 5px 10px;
}

.contact-form textarea {
  height: auto;
  resize: vertical;
}

.contact-form-submit {
  width: 100%;
  height: 50px;
  background-color: grey;
  border-radius: 7px;
  color: antiquewhite;
  border: 1px solid brown;
  cursor: pointer;
}

.contact-form-submit:hover {
  box-shadow: 0 0 14px black;
}

@media (max-width: 700px) {

  .menu-btn {
    display: block;
  }

  .nav-main ul.nav-menu {
    display: block;
    position:absolute;
    top: 0px;
    left: 0px;
    background: #2f3640;
    height: 100%;
    padding: 30px;
    opacity: .8;
    transform: translateX(-400px);
    transition: transform .5s ease-in-out;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }
  
  .nav-main ul.nav-menu li {
    color: #1f0e0e;
    padding-top: 40px;
    border-bottom: #eedddd solid 1px;
    font-size: 18px;
  }
  
  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }


  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 80%;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .news-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .news-cards img {
    height: 270px;
  }
  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}